@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --pst-font-family-sans-serif: "Inter", Helvetica, sans-serif;
    --pst-font-family-monospace-system: "Fira Code", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;
}

body {
    font-family: var(--pst-font-family-sans-serif);
}
